*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow: none;
	height: 100%;
	background: #2b2b2b;
	color: white;
	font-family: "Poppins", sans-serif;
}

header {
	text-align: center;
}

input[name="name"] {
	font-family: "Poppins", sans-serif;
	font-size: 2rem;
	padding: 1rem;
	border-radius: 0.5rem;
	border: 1px solid rgba(14, 14, 14, 0.2);
	width: 100%;
	box-shadow: 2px 2px 5px rgba(14, 14, 14, 0.75);
}

footer {
	padding-block: 1rem;
	text-align: center;
}

input[name="name"]:focus {
	outline: 3px solid red;
}

label[for="name"] {
	display: block;
	padding-bottom: 0.725rem;
	font-size: 1.25rem;
}

.title {
	font-family: "Carter One", sans-serif;
	font-weight: 700;
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}

.container {
	width: min(80%, 70.5rem);
	margin-inline: auto;
}

.result {
	font-family: "Carter One", sans-serif;
	text-align: center;
	background-color: rgba(14, 14, 14, 0.35);
	border-radius: 1rem;
	padding: 1rem;
	cursor: pointer;
	margin-top: 0;
}

.result-subtext {
	padding-top: 2rem;
	margin-bottom: 0.75rem;
	font-size: 1.25rem;
}

#changeGenerator {
	text-decoration: underline;
	cursor: pointer;
	user-select: none;
}
#changeGenerator:hover {
	color: gray;
}

#sourceLink {
	color: gray;
	text-decoration: none;
}