:root {
	--background-clr: #FBC252;
	--clr: #212427;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	overflow-x: none;
	font-family: 'Poppins';
	background: var(--background-clr);
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

input,
textarea,
button,
select {
	font: inherit;
}

textarea {
	width: 100%;
	height: 10rem;
	font-family: 'Roboto Mono', monospace;
	padding: 1rem;
	background: #f7f7f7;
	border-radius: 0.25rem;
	box-shadow: 2px 3px rgba(14, 14, 14, 0.5);
	margin-bottom: 1rem;
}

input[type="number"] {
	width: 5ch;
}

header h1 {
	margin-bottom: 0;
}

header p {
	margin-top: 5px;
}

footer p {
	padding-block: 0.35rem;
}


.container {
	width: min(80%, 70.5rem);
	margin-inline: auto;
}

pre {
	padding: 1rem;
	background: rgba(14, 14, 14, 0.15);
	border-radius: 0.25rem;
	font-family: 'Roboto Mono', monospace;
	cursor: pointer;
}

pre:empty {
	background: rgba(14, 14, 14, 0.05);
}

.divider-line {
	border: none;
	border-top: 1px solid rgba(14, 14, 14, 0.15);
	margin-block: 1rem;
	margin-inline: auto;
	width: 50%;
}